body{
  font-family: 'Poppins', sans-serif;
}
.hero-area{
  background-image: url('./images/headerBg.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.hero-area > .hero-body{
  height: 100%;
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.900), rgb(255, 255, 255));
}
/* Custom common class */
.ct-fs-1{
  font-size: 60px;
}
.ct-text-primary{
  color: rgb(132, 0, 255);
}
.ct-btn-primary{
  background-color: rgb(132, 0, 255);
}